<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Getting Started: Serving Web Content</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div th:insert="blocks/header :: header"></div>
        <div>
            <div class="container mt-5">
                <form th:method="POST" th:action="@{/add_request}"  th:object="${request}">
                    Бюджет:
                    <br>
                    <input type="text" id="price" th:field="*{price}" class="form-control" placeholder="Бюджет"
                    aria-describedby="basic-addon2">
                    <div class="input-group-append"/>
                    <br>

                    Марка:
                    <br>
                    <input type="text" id="carBrand" th:field="*{carBrand}" class="form-control"
                    placeholder="Введите марку автомобиля (необяз)" aria-label="Марка автомобиля (необяз)"
                    aria-describedby="basic-addon2">
                    <div class="input-group-append"/>
                    <br>

                    Модель:
                    <br>
                    <input type="text" id="carModel" th:field="*{carModel}" class="form-control"
                    placeholder="Введите модель (необяз)" aria-label="Модель"
                    aria-describedby="basic-addon2">
                    <div class="input-group-append"/>
                    <br>

                    Цели использования:
                    <br>
                    <textarea type="text" id="purpose" th:field="*{purpose}" class="form-control"
                    placeholder="Введите использвания" aria-label="Модель"
                    aria-describedby="basic-addon2">
                    </textarea>
                    <br>

                    <input class="btn btn-primary" type="Submit" value="Оформить"/>

                    <label for="company_id">
                    <input type="hidden" th:value="${company_id}" name="company_id" id="company_id"/>
                    </label>
                    <br>
                </form>
            </div>
        </div>
    </body>
</html>